<h1>StaticPages#help</h1>

<%= link_to 'help' , static_pages_help_path %>
<p style = "color:red">Find me in app/views/static_pages/help.html.erb</p>

<h1> Help Page  </h1>

<%= link_to 'help' , static_pages_contact_path %>